html, body{
    height: 100%;
    overflow: hidden;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}

*{
    padding: 5px;
    margin: 1px auto;
}

.block{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto; /* Optional: Centers the div horizontally */
}

.title{
    text-align: center;
    margin: 10px auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input{
    resize: none;
    height: 1em;
    overflow: hidden;
}

.flash-red{
    animation: animation-red 0.3s ease;
}

.flash-green{
    animation: animation-green 0.3s ease;
}

@keyframes animation-red{
    0% {background: rgba(255, 255, 255, 0.4);}
    50% {background: rgba(255, 0, 0, 0.6);}
    100% {background: rgba(255, 255, 255, 0.4);}
}

@keyframes animation-green{
    0% {background: rgba(255, 255, 255, 0.4);}
    50% {background: rgba(0, 180, 0, 0.6);}
    100% {background: rgba(255, 255, 255, 0.4);}
}